@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tokens.css";

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
  font-family: var(--font-body);
}
